@media (max-width: 992px)
    .open-menu-button
        display: grid
        order: 1
    .logo
        order: 2
        margin-right: 0
    .header-links
        grid-template-columns: 1fr auto
    .close-menu-button
        display: block
    .menu
        ul
            grid-template-columns: auto
            li a
                padding-left: 20px
    .chapter-table
        grid-template-columns: repeat(2, [col] 1fr)
        grid-template-rows: repeat(6, [row] 1fr)
    .chapter
        &.empty1, &.empty2, &.empty3
            display: none
        &.title
            grid-column: span 2
            order: 1
        &.description
            grid-column: span 2
            grid-row: span 2
            order: 2
        &.link
            grid-column: span 1
            order: 3
    .article-container
        width: 100%
        padding: 0 30px

@media (max-width: 768px)
    .browser-versions-table
        grid-template-columns: repeat(2, 1fr)

@media (max-width: 576px)
    header
        margin-bottom: 15px
    .container
        padding: 0 15px
    .article-container
        padding: 0 15px
    .chapter
        min-height: 125px
    .chapter-table
        grid-template-columns: repeat(1, [col] 1fr)
        grid-template-rows: repeat(8, [row] min-content)
    .chapter
        &.title
            grid-column: span 1
        &.description
            grid-column: span 1
            grid-row: span 1
    footer
        margin-top: 15px
    .browser-versions-table
        grid-template-columns: 1fr
    .open-menu-button
        padding: 24px
        padding-left: 0
        img
            height: 16px
    .close-menu-button
        padding: 24px
        padding-left: 0
        img
            height: 16px